<nav class="blue darken-2">
          <%= link_to "新規投稿", "/new"%>
          <div class="nav-wrapper">
            <h4 class="brand-logo">Ito Blog</h4>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <%# <li><a href="sass.html">Sass</a></li> %>
              <%# <li><a href="badges.html">Components</a></li> %>
              <%# <li><a href="collapsible.html">JavaScript</a></li> %>
            </ul>
          </div>
        </nav>
       

        <ul class="list_article">
            <% @blog.each do |blog| %>
            <%= render partial: "blog", locals: { blog: blog }%>
            <% end %>
        </ul>
    <script type="text/javascript" src="./app.js"></script>
